{% extends "bootstrap/base.html" %}

{% block title %}216_Security{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">216_Security</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/today">Today</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/yesterday">Yesterday</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/image">Full</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/mystyle2.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
